/SocketTest.Client/obj
/SocketTest.Client/bin
/SocketTest.Common/obj
/SocketTest.Common/bin
/SocketTest.Server/obj
/SocketTest.Server/bin
/NRpc/obj
/NRpc/bin
/NRpc.Client/obj
/NRpc.Client/bin
/NRpc.Server/obj
/NRpc.Server/bin
/NRpc.TestCommon/obj
/NRpc.TestCommon/bin
/.vs
